.product-link {
  text-decoration: none !important;
  color: black;

  font-weight: bold;
}
/* .card-styling :hover {
  transform: scale(1, 5);
} */
.card-effect {
  transition: transform 1s ease-in-out;
}

.card-effect:hover {
  -webkit-box-shadow: -35px 12px 19px 6px rgba(0, 0, 0, 0.79);
  box-shadow: -35px 12px 19px 6px rgba(0, 0, 0, 0.79);
  transform: scale(1.02);
}
